<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  	<li><a href="/images/final/montage.png" target="_blank">View Montage Image</a></li>
  	<li><a href="/images/final/video.m4v" target="_blank">View Video</a></li>
  	<button type="button" ng-click="getHeaders()" class="btn btn-link">Get Headers</button>
  </ul>
</div>