<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/">Dashboard</a></li>
  </ul>
  <ul class="nav nav-sidebar">
  	<li><button class="btn btn-link" type="submit" ng-click="captureHeadlines()">Capture Headlines</button></li>
  </ul>
</div>