<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  	<li><button class="btn btn-link" type="submit" ng-click="captureHeadlines()">Capture Headlines</button></li>
  	<li><button class="btn btn-link" type="submit" ng-click="getSize()">Get Image Size</button></li>
  	<li><button class="btn btn-link" type="submit" ng-click="resize()">Resize Image</button></li>
  	<li><button class="btn btn-link" type="submit" ng-click="createXY()">Create Image X,Y</button></li>
  	<li><button class="btn btn-link" type="submit" ng-click="create()">Create Image</button></li>
  </ul>
</div>