<!DOCTYPE html>
<html ng-app="notesApp"><html>
  <% include partials/nav.ejs %>  
  <body ng-controller="notesCtrl">
    <div class="container-fluid" ng-init="getHeadlines()">
      <div class="row">
        <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 main">
          <h1 class="page-header">Dashboard - Video Headlines</h1>
          <div class="alert alert-info" role="alert" ng-show="alert">
            <i class="fa fa-refresh fa-spin"></i>
            Hold On - Doing Work...
          </div>
          <div class="row col-sm-12">
            <p>
              Use the buttons below to get headlines and create video.  Click here to <a href="/images/final/montage.png" target="_blank">View Montage Image</a> or <a href="/images/final/video.m4v" target="_blank">View Video</a>.
              <br><br>
            </p>
            <p>
              Choose a date and number of articles to retrieve. (must be in the last 3 months)
              <div class="form-group col-xs-3">
                <label for="sel1">Select Month</label>
                <select class="form-control" ng-model="month">
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                </select>
              </div>
              <div class="form-group col-xs-3">
                <label for="sel1">Select Day</label>
                <select class="form-control" ng-model="day">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option>
                  <option>22</option>
                  <option>23</option>
                  <option>24</option>
                  <option>25</option>
                  <option>26</option>
                  <option>27</option>
                  <option>28</option>
                  <option>29</option>
                  <option>30</option>
                  <option>31</option>
                </select>
              </div>
              <div class="form-group col-xs-3">
                <label for="sel1">Select Number of Articles</label>
                <select class="form-control" ng-model="numArticles">
                  <option>10</option>
                  <option>20</option>
                  <option>30</option>
                  <option>40</option>
                </select>
              </div>
            </p>
          </div>
          <div class="row col-sm-12">
            <p>
              <button type="button" ng-click="resetHeadlines()" class="btn btn-danger">Reset Headlines</button>
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
              <button type="button" ng-click="captureHeadlines()" class="btn btn-primary">Capture Headlines</button>
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
              <button type="button" ng-click="montage()" class="btn btn-info">Create Montage</button>
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
              <button type="button" ng-click="video()" class="btn btn-success">Create Video</button>
                <br><br>
            </p>
            <!-- <p>  
              <button type="button" ng-click="showMontage()" class="btn btn-warning">Show Montage</button>
              <button type="button" ng-click="showVideo()" class="btn btn-warning">Show Video</button>
            </p> -->
          </div>
          <br><br>
          <form class="row col-md-12 form-group input-group-lg">
            <input ng-model="query" type="text" class="form-control" placeholder="Search..." autofocus>
          </form>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Title
                  </th>
                  <th>
                    Summary
                  </th>
                  <th>
                    Count
                  </th>
                  <th>
                    Image
                  </th>
                  <th>Delete Headline</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="follow in headlines | filter:query | unique: '_id' | orderBy:sortType:sortReverse">
                  <td><a href="{{follow.url}}" target="_blank">{{ follow.articleData.title }}</a></td>
                  <td>{{ follow.articleData.summary }}</td>
                  <td>{{ follow.count }}</td>
                  <td><a href="/images/create/{{follow._id}}.png" target="_blank"><img src="/images/create/{{follow._id}}.png" height="auto" width="100%"></a>
                  <div class="col-md-12 text-center"> 
                    <button class="btn btn-link" type="submit" ng-click="create(follow.articleData.summary, follow._id)">Create Image</button>
                  </div>
                  </td>
                  <td>
                    <button class="btn btn-link" type="submit" ng-click="removeHeadline(follow._id)"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

   </body>
   <% include partials/javascripts.ejs %>  
</html>