<!DOCTYPE html>
<html ng-app="notesApp"><html>
  <% include partials/nav.ejs %>  
  <body ng-controller="notesCtrl">
  <% include partials/sidebar.ejs %>  
    <div class="container-fluid" ng-init="getHeadlines()">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <h1 class="page-header">Dashboard - Video Headlines</h1>
          <div class="alert alert-info" role="alert" ng-show="alert">
            <i class="fa fa-refresh fa-spin"></i>
            Hold On - Doing Work...
          </div>
          <div class="row col-sm-12">
            <p>
              Use the buttons below to get headlines and create video.
            </p>
          </div>
          <div class="row col-sm-12">
            <p>
              <button type="button" ng-click="resetHeadlines()" class="btn btn-danger">Reset Headlines</button>
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
              <button type="button" ng-click="captureHeadlines()" class="btn btn-primary">Capture Headlines</button>
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
              <button type="button" ng-click="montage()" class="btn btn-info">Create Montage</button>
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
              <button type="button" ng-click="video()" class="btn btn-success">Create Video</button>
                <!-- <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  
              <button type="button" ng-click="videoFilter()" class="btn btn-success">Create Video w/Filter</button> -->
            </p>
            <!-- <p>  
              <button type="button" ng-click="showMontage()" class="btn btn-warning">Show Montage</button>
              <button type="button" ng-click="showVideo()" class="btn btn-warning">Show Video</button>
            </p> -->
          </div>
          <br><br>
          <form class="row col-md-12 form-group input-group-lg">
            <input ng-model="query" type="text" class="form-control" placeholder="Search..." autofocus>
          </form>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    Title
                  </th>
                  <th>
                    Summary
                  </th>
                  <th>
                    Count
                  </th>
                  <th>
                    Image
                  </th>
                  <th>Delete Headline</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="follow in headlines | filter:query | unique: '_id' | orderBy:sortType:sortReverse">
                  <td><a href="{{follow.url}}" target="_blank">{{ follow.articleData.title }}</a></td>
                  <td>{{ follow.articleData.summary }}</td>
                  <td>{{ follow.count }}</td>
                  <td><a href="/images/create/{{follow._id}}.png" target="_blank"><img src="/images/create/{{follow._id}}.png" height="auto" width="100%"></a>
                  <div class="col-md-12 text-center"> 
                    <button class="btn btn-link" type="submit" ng-click="create(follow.articleData.summary, follow._id)">Create Image</button>
                  </div>
                  </td>
                  <td>
                    <button class="btn btn-link" type="submit" ng-click="removeHeadline(follow._id)"><i class="fa fa-times"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row col-sm-12" ng-show="viewMontage">
        <img src="/images/final/montage.png" height="auto" width="100%">
      </div>
      <div class="row col-sm-12" ng-show="viewVideo">
        <p>video</p>
      </div>
    </div>

   </body>
   <% include partials/javascripts.ejs %>  
</html>